extends ../shared/template
block content
  h2 New Gambler
  form(method='post', action='/gamblers')
    input(name='name', type='text', placeholder='Name')
    input(name='photo', type='text', placeholder='Photo')
    input(name='spouse[name]', type='text', placeholder='Spouse Name')
    input(name='spouse[photo]', type='text', placeholder='Spouse Photo')
    input(name='cash', type='number', placeholder='Cash')
    button.newAssetButton Create
